@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;

}

.hero-container {
    background: linear-gradient(rgb(214, 14, 14), rgba(221, 9, 9, 0.658));
    color: #fff;
    height: 100vh;
    width: 100vw;
}